.nav-bar{
  display: flex;
}

.tab{
  padding: 10px;
}

.tab:hover {
  cursor: pointer;
  background-color: plum;
 }

 .navFont:hover{
  background-color:plum;
 }

.headerForPages{
  margin: 0 auto;
  text-align:center;
}

.homeBody{
  display: flex;
}

.homeParagraph{
  padding: 20px;
  background-color: white;
}

.homeParagraphIn{
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.rearrangeLife{
  display: flex;
}

.parent{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

.child{
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center{
  background-color: white;
  padding: 5px 20px ;
  outline-style: solid;
  outline-color:  palevioletred;
  outline-width: 5px;
}

.headerForColor{
  margin: 0 auto;
  text-align: center;
  color: black;
  padding: 20px;
}

.textOnColor{
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  color: black;
  background-color:#E8D82A;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;

}
.poetryBody{
  display:grid; 
  grid-template-columns: repeat( auto-fit, minmax(450px, 1fr));
}

.poetrySet{
  padding: 10px;
  border: 8px solid plum;
  background-color: white;
}

.centeringPoetryImg{
  background-color: white;
  position: relative;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: center;
}

.centeringPoetryWords{
  position: relative;
  display: table;
  margin-left: auto;
  margin-right:auto;
  
}

.line{
  line-height: 1.3;
}

.musicExplination{
  background-color: white;
  color: purple;
  line-height: 1.5;
  margin: 10px;
  padding: 10px;
  font-style:italic;
}

.videosGrid{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(466px, 1fr) );
}

.videoWrapping{
  padding: 10px;
  background-color: palevioletred;
}

.video{
   position: relative;
   top:0;
   width: 100%;
   height: 100%;
   display:flex;
   justify-content: center;
   align-items: center;
}

.guestBookBody{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formStyle{
  background-color: pink;
  max-height: 420px;
  max-width: 550px
}

.formElements{
  text-align: center;
}

.formButton{
  position: relative;
  top:30px;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.postStyle{
  background-color: pink;
  padding: 10px;
  border: 5px white solid;
 
}

.scroll{
  height: 60vh;
  position: relative;
  top: 53px;
  overflow-y: auto;
}

.postElements{
  text-align: center;
}

.movieBody{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

.movieBody > div:hover{
  opacity: .7;
}

.toTopButton{
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  outline: none;
  border: none;
  background-color: #E8D82A;
  color: black; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 5px; 
  font-size: 14px; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.toTopButton:hover {
  background-color:palevioletred; 
}



